#chameleon-chess {
  $bgImage: "../../assets/img/background-image.png";
  background: url($bgImage) center/cover no-repeat;

  box-sizing: border-box;

  height: 100%;
  width: 100%;

  @import "base";
  @import "helper";
  @import "theme";
  @import "shame";
}
