/******************************************************************************* 
Base CSS Settings
- should be the very first file to be loaded
- strips all base styles to have a clean slate to start with
- sets some practical defaults for easier styling
*******************************************************************************/

/* reset */
* {
    box-sizing: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
ol,ul { list-style: none }
small,sub,sup { font-size: .75em }

/* base config */
img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}
