$base: .25em;

.p { padding: 2 * $base }
.pt { padding-top: 2 * $base }
.pb { padding-bottom: 2 * $base }
.pl { padding-left: 2 * $base }
.pr { padding-right: 2 * $base }

.m { margin: 2 * $base }
.mt { margin-top: 2 * $base }
.mb { margin-bottom: 2 * $base }
.ml { margin-left: 2 * $base }
.mr { margin-right: 2 * $base }

@for $i from 1 through 12 {
    .p-#{$i} { padding: $i * $base }
    .pb-#{$i} { padding-bottom: $i * $base }
    .pl-#{$i} { padding-left: $i * $base }
    .pr-#{$i} { padding-right: $i * $base }
    .pt-#{$i} { padding-top: $i * $base }

    .m-#{$i} { margin: $i * $base }
    .mb-#{$i} { margin-bottom: $i * $base }
    .ml-#{$i} { margin-left: $i * $base }
    .mr-#{$i} { margin-right: $i * $base }
    .mt-#{$i} { margin-top: $i * $base }
}

.hw {
    &-100 { height: 100%; width: 100% }
    &-90 { height: 90%; width: 90% }
    &-80 { height: 80%; width: 80% }
    &-50 { height: 50%; width: 50% }
    &-12 { height: 12.5%; width: 12.5% }
}

.w {
    &-100 { width: 100% }
    &-95v { width: 95vw }
}

@media (orientation: landscape) {
    .w-95v { width: 95vh }
}

.mxw {
    &-100vh { max-width: 100vh }
    &\-20em { max-width: 20em }
}

.square {
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
}

.border { border: 1px solid currentColor }

.rounded { border-radius: 10% }