/******************************************************************************* 
Website's Theme
- defines colors, typography, utilities and special elements
- this file needs to be edited the most to match the specific project
- try to stick to the atomic css principle as much as possible
    - create utility classes with basic style settings and combine them in html
    - set global styles only for elements that have very few children
- any "dirty" hacks should be placed in shame.css file
*******************************************************************************/

/* Colors ------------------------------------------------------------------- */

.bgc {
    &-red { background-color: #B9542D }
    &-green { background-color: #51A230 }
    &-yellow { background-color: #DDBB71 }
    &-blue { background-color: #04909D }

    &-brighten { background-color: #fff8 }
    &-darken { background-color: #000a }
}

.c {
    &-red { color: #B9542D }
    &-green { color: #51A230 }
    &-yellow { color: #DDBB71 }
    &-blue { color: #04909D }

    &-white { color: #fff }
}

/* Typography --------------------------------------------------------------- */

.font-1 { font-family: Verdana, sans-serif }
// .font-2 { font-family: Times, serif }

// .text-block * + * { margin-top: .5em }
.text-border { text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000 }

/* Util --------------------------------------------------------------------- */

.absolute { position: absolute }

.border { border: solid 1px #000 }
.no-border { border: 0 }

.circle { border-radius: 50% }
.rounded { border-radius: .5em }

.square {
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
}

.transition { transition: .5s }

.overlay {
    &-parent { position: relative }

    &-bright, &-dark, &-frame {
        position: relative;
    }

    &, &-bright::after, &-dark::after, &-frame::after {
        border-radius: inherit;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
    }

    &-bright::after, &-dark::after, &-frame::after { content: '' }

    &-bright::after { background-color: #fff8 }
    &-dark::after { background-color: #000a }
    &-frame::after { border: 0.25em solid #fffc }

    &-screen {
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;
    }
}

.mxh-100 { max-height: 100% }
