/******************************************************************************* 
Website's Theme
- defines colors, typography, utilities and special elements
- this file needs to be edited the most to match the specific project
- try to stick to the atomic css principle as much as possible
    - create utility classes with basic style settings and combine them in html
    - set global styles only for elements that have very few children
- any "dirty" hacks should be placed in shame.css file
*******************************************************************************/

/* Colors ------------------------------------------------------------------- */

.bgc {
    &-red { background-color: #B9542D }
    &-green { background-color: #51A230 }
    &-yellow { background-color: #DDBB71 }
    &-blue { background-color: #04909D }

    &-brighten { background-color: #fff8 }
    &-darken { background-color: #000a }
}

.c {
    &-red { color: #B9542D }
    &-green { color: #51A230 }
    &-yellow { color: #DDBB71 }
    &-blue { color: #04909D }

    &-white { color: #fff }
}

// .bg-main, .bg-main-focus:focus, .bg-main-hover:hover { background-color: #ddd }

// .bg-primary, .bg-primary-focus:focus, .bg-primary-hover:hover { color: #00a }
// .bg-secondary, .bg-secondary-focus:focus, .bg-secondary-hover:hover { color: #06a }
// .bg-neutral, .bg-neutral-focus:focus, .bg-neutral-hover:hover { color: #fff }

// .bg-error, .bg-error-focus:focus, .bg-error-hover:hover { background-color: #800 }
// .bg-warn, .bg-warn-focus:focus, .bg-warn-hover:hover { background-color: #880 }
// .bg-success, .bg-success-focus:focus, .bg-success-hover:hover { background-color: #080 }

// .c-primary, .c-primary-focus:focus, .c-primary-hover:hover { color: #00a }
// .c-secondary, .c-secondary-focus:focus, .c-secondary-hover:hover { color: #06a }
// .c-neutral, .c-neutral-focus:focus, .c-neutral-hover:hover { color: #000 }
// .c-contrast, .c-contrast-focus:focus, .c-contrast-hover:hover { color: #fff }

// .c-error, .c-error-focus:focus, .c-error-hover:hover { color: #800 }
// .c-warn, .c-warn-focus:focus, .c-warn-hover:hover { color: #a80 }
// .c-success, .c-success-focus:focus, .c-success-hover:hover { color: #070 }

/* Typography --------------------------------------------------------------- */

// .font-1 { font-family: Helvetica, sans-serif }
// .font-2 { font-family: Times, serif }

// .text-block * + * { margin-top: .5em }

/* Util --------------------------------------------------------------------- */

.absolute { position: absolute }

.border { border: 1px solid currentColor }
.circle { border-radius: 50% }
.rounded { border-radius: .5em }

.shadow { box-shadow: 0 0 .2em #000 }
.text-border { text-shadow: 0 0 1px #000 }
.text-shadow { text-shadow: .1em .1em #000 }

.square {
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
}

.transition { transition: .5s }
